---
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const blogs = await getCollection('blog');
  return blogs.map((entry) => ({ params: { slug: entry.slug }, props: { entry } }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, image } = entry.data;
---
<MainLayout>
  <div class="flex flex-col">
    <div class="relative aspect-video rounded-xl overflow-hidden">
      <img src={image} alt={title} class="object-cover size-full" />
      <h1 class="absolute bottom-0 w-full py-6 bg-white/20 backdrop-blur-sm shadow-[0_4px_30px] shadow-white/10 border-t border-white/30 text-center ~text-4xl/6xl tracking-widest font-bold uppercase text-secondary">{title}</h1>
    </div>
    <div class="prose dark:prose-invert max-w-none mt-8">
      <Content />
    </div>
  </div>
</MainLayout>