---
import { CommentSection } from "@/components/CommentSection";
import { Separator } from "@/components/ui/separator";
import MainLayout from "@/layouts/MainLayout.astro";
import { getImageByPath } from "@/lib/utils";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const blogs = await getCollection('blog');
  return blogs.map((entry) => ({ params: { slug: entry.slug }, props: { entry } }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, image: imagePath } = entry.data;
let image = getImageByPath(imagePath || 'default.jpg');

if (!image) {
  // load a default image
  image = getImageByPath('default.jpg');
}
---
<MainLayout>
  <div class="flex flex-col">
    <div class="relative flex items-center aspect-video rounded-xl overflow-hidden">
      <Image src={image!} alt={title} class="absolute inset-0 object-cover size-full blur-sm" />
      <h1 class="z-[1] px-3 sm:px-12 ~text-3xl/6xl text-center text-background font-bold drop-shadow-[0_0_2px_hsl(var(--border))]">{title}</h1>
    </div>
    <div class="text-xl prose dark:prose-invert max-w-none mt-8">
      <Content />
    </div>
    <Separator className="my-8" />
    <CommentSection client:only="react" />
  </div>
</MainLayout>